body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  padding: 40px;
  margin: 0;
}

h1 {
  color: #f57c00;
  font-size: 28px;
  margin-bottom: 20px;
}

.capsule {
  background: #222;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

.capsule p {
  font-size: 14px;
  margin: 6px 0;
}

.whitepaper-btn {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
}
.whitepaper-btn:hover {
  background-color: #222;
}

